<!-- sbadmin4 - master/header.twig -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ main.description | raw }}"/>
<meta name="author" content="{{ main.author | raw }}">
<meta name="generator" content="Alxarafe"/>
<link rel="shortcut icon" href="vendor/alxarafe/alxarafe/templates/img/favicon.ico"/>

<title>{% block title %}{{ ctrl.title }}{% endblock %} - Alxarafe</title>

{% block stylesheets %}
    <!-- Custom fonts for this template-->
    <link href="{{ ctrl.getResource('/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{{ ctrl.getResource('/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ ctrl.getResource('/css/sb-admin.css') }}" rel="stylesheet">

    {% for css in cssCode %}
        <link rel="stylesheet" href="{{ css }}"/>
    {% endfor %}
    {# start of getHeader #}
    {{ view.getHeader() | raw }}
    {# end of getHeader #}
{% endblock %}
