<meta content="utf-8"/>
<title>{{view.title}}</title>
<meta name="robots" content="noindex">
<meta name="description" content="{{ view.description | raw }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="generator" content="Alxarafe"/>
<link rel="shortcut icon" href="{{view.favicon}}"/>
{% for css in view.cssCode %}
    <link rel="stylesheet" href="{{ css }}"/>
{% endfor %}

<!-- Includes CSS for JQuery (Ajax library) -->
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/dolibarr/htdocs/includes/jquery/css/base/jquery-ui.css?layout=classic&version=10.0.0-alpha">
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/jnotify/jquery.jnotify-alt.min.css?layout=classic&version=10.0.0-alpha">
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/select2/dist/css/select2.css?layout=classic&version=10.0.0-alpha">
<!-- Includes CSS for font awesome -->
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/vendor/maximebf/debugbar/src/DebugBar/Resources/vendor/font-awesome/css/font-awesome.min.css?layout=classic&version=10.0.0-alpha">
<!-- Includes CSS for Dolibarr theme -->
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/?controller=theme/eldy&method=style.css&lang=es_ES&amp;theme=eldy&amp;userid=1&amp;entity=1&amp;layout=classic&version=10.0.0-alpha">

<!-- start of getHeader -->
{{ view.getHeader() | raw }}
<!-- end of getHeader -->
